<header>
  <h1>Hello push!</h1>
  <p>A push notifications sample made with Ruby on Rails.</p>
</header>
<main data-controller="push" data-push-vapid-public-key-value="<%= ENV['VAPID_PUBLIC_KEY'] %>">
  <%= form_tag '/notifications/send' do %>
    <%= hidden_field_tag :endpoint, nil, data: { 'push-target': 'endpointField' } %>
    <button data-action="push#subscribe">Activate notifications</button>
    <button data-push-target="sendButton", disabled="true">Notify me</button>
  <% end %>
  <pre id="messages", data-push-target="messages">
</pre>
</main>
<footer>
  <%= link_to 'https://github.com/emilianolch' do %>
    <%= image_tag 'github.png' %>
    <p>emilianolch</p>
  <% end %>
</footer>
