<!DOCTYPE html>
<html>
  <head>
    <title>PushSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="vapid_public_key" content="<%= ENV['VAPID_PUBLIC_KEY'] %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
